@font-face {
    font-family: 'Roboto';
    src: url('../resources/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

/* applying Roboto across the elements we use */
h1, h2 {
    font-family: 'Roboto';
    margin: 30px;
}

div {
    font-family: 'Roboto';
    font-size: 18px;
}

p {
    font-size: 18px;
}

button {
    font-size: 18px;
}

.device {
    justify-self: center;
    width: 640px;
    height: 960px;
    overflow:hidden;
    background-color: #fff6f4;
    position:relative;
}

.bottom-nav {
    display: flex;
    margin: auto;
    height: 80px;
    width: 640px;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    background-color: #f0e6e9;
}

.bottom-nav .active {
    display: block;
    width: 128px;
    background-color: #bdd8a1;
    color: #000;
    text-align: center;
}

.bottom-nav .inactive {
    display: block;
    width: 128px;
    text-align: center;
}

.bottom-nav img {
    height: 30px;
    width: 30px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none
}

.bottom-nav a {
    position: absolute;
    display: block;
    color: #000;
    height: 100px; /* a little jank as it makes the link protrude below, but it gets where the text needs to be */
    width: 128px;
    z-index: 3;
    top: 0px;
    align-content: center;
    text-decoration: none;
}