@font-face {
    font-family: 'Roboto';
    src: url('../resources/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

/* applying Roboto across the elements we use */
h1 {
    font-family: 'Roboto';
}

div {
    font-family: 'Roboto';
    /*
    font-weight: 300;
    font-size: 2em;
    */
}

.device {
    justify-self: center;
    width: 640px;
    height: 960px;
    overflow:hidden;
    background-color: #fff6f4;
    position:relative;
}

.bottom-nav {
    margin: auto;
    height: 80px;
    width: 640px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    background-color: #d2d7d3;
}

.bottom-nav .active {
    display: block;
    width: 106.66px;
    background-color: #ecf0f1;
    color: #000;
    text-align: center;
}

.bottom-nav .inactive {
    display: block;
    width: 106.66px;
    text-align: center;
}

.bottom-nav img {
    height: 30px;
    width: 30px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none
}

.bottom-nav a {
    display: inline-block;
    color: #000;
    /*
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px; */
    z-index: 1;
    padding: 2em;
    margin: -2em;
}